* {
	padding: 0;
	margin: 0;
}

body,
.navbar,
.navbar ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar {
	position: relative;
	padding: 20px;
	border-radius: 50px;
	background-color: #fff;
	z-index: 20;

	top: 250px;
}
.navbar input {
	width: 40px;
	height: 40px;
	cursor: pointer;
	opacity: 0;
}
.navbar span {
	position: absolute;
	left: 25px;
	top: calc(50% - 10px);
	width: 30px;
	height: 4px;
	border-radius: 15px;
	background-color: #999;
	pointer-events: none;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out 0.3s;
}
.navbar span:nth-child(3) {
	top: calc(50% + 6px);
}
.navbar ul {
	width: 0;
	overflow: hidden;
	white-space: nowrap;
	transition: all 0.5s;
}
.navbar ul li {
	list-style: none;
	margin: 0 15px;
}
.navbar ul li a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	color: #333;
}
.navbar ul li a:hover {
	color: #fb7299;
}
.navbar input:checked ~ ul {
	width: 800px;
}
.navbar input:checked ~ span:nth-child(2) {
	top: calc(50% - 2px);
	transform: rotate(-45deg);
	background-color: #fb7299;
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}
.navbar input:checked ~ span:nth-child(3) {
	top: calc(50% - 2px);
	transform: rotate(45deg);
	background-color: #fb7299;
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
}

.what {
	padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 25%;

    left: 36%;
	z-index: 20;
}