body {
    font-family: sans-serif;
    width: 350px;
    margin: 0 auto;
    background-image: url('梗.jpg');
    background-size: cover;
    background-position:relative;
    color:rgb(65, 160, 249);
    text-align: center;
    padding: 20px;
  }
  
label {
    font-weight: bold;
    color: #ffffff;
}
 
div {
    padding-bottom: 20px;
}
 
input[type="text"] {
    padding: 5px;
    width: calc(100% - 20px);
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}
 
button.randomize {
    padding: 10px 20px;
    font-size: 28px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    transition: background-color 0.3s;
}

a.randomize {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 25%;

    left: 36%;
}


button.randomize:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
 
p {
    background: rgba(255, 255, 255, 0.7);
    color: #000000;
    padding: 10px;
    visibility: hidden;
    border-radius: 5px;
    margin-top: 20px;
    
    width: 325px;
    height: auto;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rotate 10s linear infinite, flicker 2s infinite;
}

.story {
    font-size: 20px;
}

.more {
    position: absolute;
    bottom: 5%;
    left:40%;
    font-size: 25px;

    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
    text-align: center;
    position: fixed;
    width: 25%;

    left: 36%;
}

