body {
    background-image: url(./背景.jpg);
    background-size: cover;
    background-position:relative;
}
#root {
    width: 68%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px auto;  
}
.title {
    background-color: white;
    text-align: center;
    position: sticky;
    top: 0%;
    left:10.5%;
    width: 80%;
}
.pri{
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 10%;

    left: 43%;
}